DB_URL=postgresql+psycopg2://user:password@db:5432/reputeai
REDIS_URL=redis://redis:6379/0
FRONTEND_URL=http://localhost:3000
JWT_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nMIIBUwIBADANBgkqhkiG9w0BAQEFAASCAT0wggE5AgEAAkEAtWd1ags663Bo/pr7\na6p2pz/P3sN5w4BtxCtneKwJpmdrS4FwGcRUs3bnB3ISHVJQEOu1ynPzLrwWRnQIr\nMUtswIDAQABAkAlW0DaraVchrGYfOH5sgjtOD7eaPLSR8hS9X1BZGw4UAre9asmgf\nNKS6fhAPYxp91Y781UlfTPmFW6FA1JKfRBAiEA5fKFHOxmykbSu3dUCZmLtgqvFdf\nHdrrvAntaw4kyBXUCIQDJ9PkZIUfOep9F4PvA1viLvqpfOEOZ8CMra510iZB5hwIg\nURFUTqMlhhC8AK2MKipA8DgKDBhb0QcMdoKIuEEpKnUCIEAB300iqiJ75Kz+EGxe9\nak8xbymFW7dmBfz5JSB4QNTAiAsASXJra6RqeELr/6lBj3+zymTWDJtjNNJQsbIqN\n5/QQ==\n-----END PRIVATE KEY-----
JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\nMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBALVndWoLOutwaP6a+2uqdqc/z97DecOAb\ncQrZ3isCaZna0uBcBnEVLN25wdyEh1SUBDrtcpz8y68FkZ0CKzFLbMCAwEAAQ==\n-----END PUBLIC KEY-----
ACCESS_TOKEN_EXPIRE_MINUTES=15
USE_COOKIES=true
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_PUBLIC_KEY=your_stripe_public_key
STRIPE_WEBHOOK_SECRET=whsec_your_secret
STRIPE_PRICE_FREE=price_free
STRIPE_PRICE_PRO=price_pro
STRIPE_PRICE_BUSINESS=price_business

FREE_REVIEWS_FETCHED_LIMIT=100
FREE_AI_SUGGESTIONS_LIMIT=100
FREE_AUTO_REPLIES_LIMIT=100
FREE_CONNECTED_LOCATIONS_LIMIT=1

PRO_REVIEWS_FETCHED_LIMIT=1000
PRO_AI_SUGGESTIONS_LIMIT=1000
PRO_AUTO_REPLIES_LIMIT=1000
PRO_CONNECTED_LOCATIONS_LIMIT=10

BUSINESS_REVIEWS_FETCHED_LIMIT=10000
BUSINESS_AI_SUGGESTIONS_LIMIT=10000
BUSINESS_AUTO_REPLIES_LIMIT=10000
BUSINESS_CONNECTED_LOCATIONS_LIMIT=100
OPENAI_API_KEY=your_openai_api_key
